/* reset css */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
  line-height: initial;
}

ol {
  padding-left: 2rem;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

/* variables */
/* styles */
* {
  box-sizing: border-box;
  line-height: 160%;
  color: #353B50;
  font-family: "PingFang", Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #F6F6F6;
  margin: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

a {
  font-weight: 700;
  transition: color 0.15s ease-in-out;
}
a:hover {
  color: #E72E6B;
}

button {
  cursor: pointer;
  border-radius: 50rem;
}
button.submit {
  width: 100%;
  background-color: #353B50;
  color: #F6F6F6;
  border: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3.125rem;
  transition: background-color 0.15s ease-in-out;
}
button.submit:hover {
  background-color: #1E2333;
}

form {
  margin-top: 2rem;
}
form label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
form label span {
  flex: 100%;
}
form label span.note {
  font-size: 0.875rem;
  font-weight: 400;
  color: #353B50;
  opacity: 0.5;
}
form label input {
  flex: 100%;
  background-color: #F6F6F6;
  border: 1px solid #DDDDDD;
  border-radius: 50rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.4rem;
  outline: none;
}
form label input::-moz-placeholder {
  color: #353B50;
  opacity: 0.5;
}
form label input::placeholder {
  color: #353B50;
  opacity: 0.5;
}
form label input:focus {
  border-color: #1E2333;
}
form .confirm {
  margin-top: 2rem;
}
form .confirm span {
  font-size: 0.875rem;
  color: #E72E6B;
}
form .confirm button {
  margin-top: 0.5rem;
}

.popUp {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 35, 51, 0.7);
  z-index: 10;
}
.popUp .popUp--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #F6F6F6;
  border-radius: 1.5rem;
  padding: 2.5rem;
  width: 30rem;
  max-height: 80svh;
}
.popUp .popUp--container .popUp--close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background-color: rgba(221, 221, 221, 0.3);
  padding: 0.5rem;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 1.25rem;
  border: none;
  text-align: center;
  transition: all 0.15s ease-in-out;
}
.popUp .popUp--container .popUp--close img {
  width: 100%;
}
.popUp .popUp--container .popUp--close:hover {
  background-color: rgba(221, 221, 221, 0.5);
}
.popUp .popUp--container h2 {
  color: #353B50;
  margin: 0 0 1.75rem 0;
  padding: 0 2.25rem;
  text-align: center;
  font-size: 1.125rem;
}
.popUp .popUp--container .popUp--content {
  overflow-y: auto;
  margin-right: -1.5rem;
  padding-right: 1.5rem;
  max-height: calc(80svh - 9rem);
  min-height: -moz-max-content;
  min-height: max-content;
  color: #353B50;
}
.popUp .popUp--container .popUp--content p {
  margin: 0;
  font-size: 0.875rem;
}
.popUp .popUp--container .popUp--content strong {
  color: #E72E6B;
  font-weight: 700;
}
.popUp .popUp--container .popUp--content::-webkit-scrollbar {
  border-radius: 0.125rem;
  background-color: #DDDDDD;
  width: 0.125rem;
}
.popUp .popUp--container .popUp--content::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #353B50;
  border-radius: 0.125rem;
}
.popUp .popUp--container .submit {
  margin-top: 1.75rem;
}
.popUp.active {
  display: block;
}
.popUp__button .popUp--container .popUp--content {
  max-height: calc(80svh - 216px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
}
header img {
  height: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5.75rem 1.25rem 3.75rem;
}
main .main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 56rem;
  margin: 0 auto;
  gap: 2.5rem 0;
}
main .main-content .receipt {
  flex: 45%;
  max-width: 20rem;
  text-align: center;
  font-size: 1.25rem;
  color: #353B50;
  margin-left: 3rem;
  padding: 1.25rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
}
main .main-content .receipt p {
  margin-bottom: 1rem;
}
main .main-content .receipt img {
  border-radius: 1.25rem;
}
main .main-content .lock {
  flex: calc(55% - 3.25rem);
  margin-right: 3rem;
  padding-left: 3.25rem;
}
main .main-content .lock h2 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: #1E2333;
}
main .main-content .notice {
  flex: 100%;
}
main .main-content .notice h4 {
  font-size: 1.375rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
}
main .main-content .notice h4:before, main .main-content .notice h4:after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(50% - 5em - 4rem);
  height: 1px;
  background-color: #353B50;
  opacity: 0.5;
}
main .main-content .notice h4:before {
  left: 3rem;
}
main .main-content .notice h4:after {
  right: 3rem;
}
main .main-content .notice ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
main .main-content .notice ul li {
  text-align: center;
  width: 16rem;
}
main .main-content .notice ul li span {
  padding: 0.5rem 1rem;
  border: 1px solid #353B50;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 160%;
}
main .main-content .notice ul li img {
  display: block;
  margin: 0.5rem auto;
  max-width: 7rem;
}
main .main-content .notice ul li h6 {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
main .main-content .notice ul li strong {
  font-weight: 700;
  color: #E72E6B;
}
main .main-content .notice .announce {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-content .notice .announce p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  background-color: #FFFFFF;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
}
main .card {
  background-color: #FFFFFF;
  border-radius: 2.5rem;
  width: 56rem;
  padding: 2.5rem 3.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 3.25rem;
  align-items: center;
  width: 33rem;
  flex-wrap: wrap;
  gap: 3.25rem;
  color: #353B50;
}
main .card > * {
  flex: 100%;
}
main .card h2 {
  margin: 0 0 1.25rem 0;
  color: #1E2333;
  font-size: 1.625rem;
}
main .card h3 {
  font-size: 1.25rem;
  margin: 0 0 1.25rem 0;
}
main .card p {
  font-size: 1.25rem;
  line-height: 2.125rem;
  margin: 0;
}
main .card p strong {
  font-weight: 700;
  color: #E72E6B;
}
main .comingsoon {
  text-align: center;
}
main .comingsoon img {
  width: 16rem;
}
main .comingsoon h2 {
  margin: 4rem 0 1rem;
  font-size: 1.625rem;
}

footer {
  width: 100%;
  border-top: 1px solid #D0D5DD;
  padding: 1.375rem 0;
  color: #345054;
}
footer .copyright {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  font-size: 0.75rem;
}
footer .copyright strong {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  header img {
    height: 1.375rem;
  }
  main {
    padding: 3.75rem 2rem;
  }
  main .main-content {
    width: calc(100svw - 2.5rem);
  }
  main .main-content .receipt {
    margin-left: 0;
  }
  main .main-content .lock {
    padding-left: 2.5rem;
    margin-right: 0;
  }
  main .main-content .notice {
    width: calc(100svw - 2.5rem);
  }
  main .main-content .notice h4:before, main .main-content .notice h4:after {
    width: calc(50% - 5em - 2rem);
  }
  main .main-content .notice h4:before {
    left: 1rem;
  }
  main .main-content .notice h4:after {
    right: 1rem;
  }
  main .main-content .notice ul {
    gap: 1.5rem;
  }
  main .card {
    width: 100%;
    padding: 2rem;
  }
  main .card .receipt {
    flex: 40%;
    padding: 1.5rem;
    font-size: calc(((100svw - 6.5rem) * 0.45 - 3rem) * 0.07);
  }
  main .card .lock {
    flex: calc(60% - 3.25rem);
  }
}
@media screen and (max-width: 516px) {
  form {
    margin: 0;
    margin-top: 1.5rem;
  }
  form label {
    margin-bottom: 0.75rem;
  }
  form label span {
    font-size: 1.25rem;
  }
  form label input {
    font-size: 1rem;
  }
  form .submit {
    margin-top: 1.5rem;
  }
  .popUp .popUp--container {
    width: calc(100svw - 2.5rem);
    padding: 2rem 1.25rem 1.25rem;
  }
  .popUp .popUp--container .popUp--close {
    top: 1.25rem;
    right: 1.25rem;
  }
  .popUp .popUp--container .popUp--content {
    margin-right: -1rem;
    padding-right: 1rem;
    max-height: calc(80svh - 7rem);
  }
  .popUp .popUp--container .popUp--content p {
    font-size: 1rem;
  }
  .popUp .popUp--container h2 {
    margin: 0 0 1.25rem 0;
  }
  .popUp .popUp--container .popUp--submit {
    margin: 1.25rem 0 0 0;
    font-size: 1rem;
  }
  .popUp__button .popUp--container .popUp--content {
    max-height: calc(80svh - 11.5rem);
  }
  header img {
    height: 1.25rem;
  }
  main {
    padding: 4.25rem 1.25rem 2.5rem;
  }
  main .main-content {
    gap: 1.25rem 0;
  }
  main .main-content .receipt {
    max-width: 100svw;
  }
  main .main-content .receipt p {
    font-size: 1.125rem;
  }
  main .main-content .receipt img {
    max-width: 13rem;
  }
  main .main-content .lock {
    padding-left: 0;
  }
  main .main-content .lock h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  main .main-content .notice {
    padding-top: 1.25rem;
  }
  main .main-content .notice h4 {
    margin-bottom: 1.25rem;
  }
  main .main-content .notice h4:before, main .main-content .notice h4:after {
    width: calc(50% - 5em - 1rem);
  }
  main .main-content .notice h4:before {
    left: 0;
  }
  main .main-content .notice h4:after {
    right: 0;
  }
  main .main-content .notice ul {
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 3.25rem;
    padding-top: 1rem;
  }
  main .main-content .notice ul li {
    flex: 100%;
  }
  main .main-content .notice .announce p {
    align-items: flex-start;
  }
  main .main-content .card {
    flex-wrap: wrap;
    padding: 1.25rem;
    border-radius: 2rem;
    margin: 3.56rem 0 1.25rem;
    gap: 1.25rem;
  }
  main .main-content .card .receipt {
    font-size: calc((100svw - 5rem) * 0.06);
    padding: 1.25rem;
  }
  main .main-content .card .receipt img {
    max-width: 13rem;
  }
  main .main-content .card .lock h2 {
    margin: 0;
    font-size: calc((100svw - 5rem) * 0.08);
  }
  main .main-content .card .confirm {
    margin-top: 1.5rem;
  }
  main .main-content .card .confirm h4 {
    font-size: 1.25rem;
  }
  main .main-content .card .notice {
    padding-top: 1.25rem;
  }
  main .main-content .card.success {
    width: calc(100svw - 2.5rem);
    gap: 1.5rem;
  }
  main .main-content .card.success h2,
  main .main-content .card.success h3 {
    font-size: 1.25rem;
  }
  main .main-content .card.success p {
    font-size: 1rem;
    line-height: 160%;
  }
  main .main-content .comingsoon h2 {
    margin-top: 2.75rem;
    font-size: 1.5rem;
  }
}