@import 'reset';

/* variables */
$color: (
    "main": #E72E6B,
    "main-light": #FFE3EC,
    "primary": #1E2333,
    "primary-light": #353B50,
    "grey-light": #DDDDDD,
    "grey-bg": #F6F6F6,
    "grey-white": #FFFFFF,
);


/* styles */
// global
* {
    box-sizing: border-box;
    line-height: 160%;
    color: map-get($color, primary-light);
    font-family: 'PingFang', Arial, sans-serif;
}

body {
    background-color: map-get($color , grey-bg);
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    font-weight: 700;
    transition: color .15s ease-in-out;

    &:hover {
        color: map-get($color, main);
    }
}

// components
button {
    cursor: pointer;
    border-radius: 50rem;

    &.submit {
        width: 100%;
        background-color: map-get($color, primary-light);
        color: map-get($color, grey-bg);
        border: none;
        padding: 0;
        font-size: 1rem;
        font-weight: 700;
        line-height: 3.125rem;
        transition: background-color .15s ease-in-out;

        &:hover {
            background-color: map-get($color, primary);
        }
    }
}

form {
    margin-top: 2rem;

    label {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 1rem;

        span {
            flex: 100%;
        }

        input {
            flex: 100%;
            background-color: map-get($color, grey-bg);
            border: 1px solid map-get($color, grey-light);
            border-radius: 50rem;
            padding: 0 1rem;
            font-size: 1rem;
            line-height: 3rem;
            outline: none;

            &::placeholder {
                color: map-get($color, primary-light);
                opacity: 0.5;
            }

            &:focus {
                border-color: map-get($color, primary);
            }
        }
    }

    .confirm {
        margin-top: 2rem;

        span {
            font-size: 0.875rem;
            color: map-get($color, main);
        }

        button {
            margin-top: 0.5rem;
        }
    }
}


// layout
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: map-get($color , grey-white);
    padding: 1.25rem;

    img {
        height: 2rem;
    }
}

main {
    padding-top: 4.8rem;
    min-height: calc(100svh - 5.25rem);

    .card {
        background-color: map-get($color, grey-white);
        border-radius: 2.5rem;
        width: 56rem;
        padding: 2.5rem 3.75rem;
        margin: 4.5rem auto;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem 3.25rem;
        align-items: center;

        .receipt {
            flex: 45%;
            text-align: center;
            font-size: 1.25rem;
            color: map-get($color, primary-light);
            padding: 2rem;
            background-color: map-get($color, grey-bg);
            border-radius: 1.25rem;

            p {
                margin-bottom: 1rem;
            }

            img {
                border-radius: 1.25rem;
            }
        }

        .lock {
            flex: calc(55% - 3.25rem);

            h2 {
                font-size: 1.625rem;
                font-weight: 700;
                margin-bottom: 1rem;
                color: map-get($color, primary);
            }
        }

        .notice {
            flex: 100%;

            h4 {
                font-size: 1.375rem;
                text-align: center;
                position: relative;
                margin-bottom: 1rem;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: calc(50% - 2em - 1rem);
                    height: 1px;
                    background-color: map-get($color, primary-light);
                    opacity: 0.5;
                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                }
            }
        }

        &.success {
            width: 33rem;
            flex-wrap: wrap;
            gap: 3.25rem;
            color: map-get($color, primary-light);

            >* {
                flex: 100%;
            }

            h2 {
                margin: 0 0 1.25rem 0;
                color: map-get($color, primary);
                font-size: 1.625rem;
            }

            h3 {
                font-size: 1.25rem;
                margin: 0 0 1.25rem 0;
            }

            p {
                font-size: 1.25rem;
                line-height: 2.125rem;
                margin: 0;

                strong {
                    font-weight: 700;
                    color: map-get($color, main);
                }
            }
        }
    }
}

footer {
    width: 100%;
    border-top: 1px solid #D0D5DD;
    padding: 1.375rem 0;
    color: #345054;

    .copyright {
        width: max-content;
        margin: 0 auto;
        text-align: center;
        font-size: 0.75rem;

        strong {
            font-weight: 700;
        }
    }
}

.popUp {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(map-get($color, primary), .7);
    z-index: 10;

    .popUp--container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: map-get($color, grey-bg);
        border-radius: 1.5rem;
        padding: 2.5rem;
        width: 30rem;
        max-height: calc(80svh);

        .popUp--close {
            position: absolute;
            top: 1.25rem;
            right: 1.25rem;
            background-color: rgba(map-get($color, grey-light), .3);
            padding: 0.5rem;
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 1.25rem;
            border: none;
            text-align: center;
            transition: all .15s ease-in-out;

            img {
                width: 100%;
            }

            &:hover {
                background-color: rgba(map-get($color, grey-light), .5);
            }
        }

        h2 {
            color: map-get($color, primary-light);
            margin: 0 0 1.75rem 0;
            padding: 0 2.25rem;
            text-align: center;
            font-size: 1.125rem;
        }

        .popUp--content {
            overflow-y: auto;
            margin-right: -1.5rem;
            padding-right: 1.5rem;
            max-height: calc(80svh - 9rem);
            min-height: max-content;
            color: map-get($color, primary-light);

            p {
                margin: 0;
                font-size: 0.875rem;
            }

            &::-webkit-scrollbar {
                border-radius: 0.125rem;
                background-color: map-get($color, grey-light);
                width: 0.125rem;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0.125rem;
                background-color: map-get($color, primary-light);
                border-radius: 0.125rem;
            }
        }

        .submit {
            margin-top: 1.75rem;
        }
    }

    &.active {
        display: block;
    }

    &__button {
        .popUp--container {
            .popUp--content {
                max-height: calc(80svh - 216px);
            }
        }
    }
}


@media screen and (max-width:960px) {
    main {
        padding: 4.8rem 1.25rem;

        .card {
            width: 100%;
            padding: 2rem;

            .receipt {
                flex: 40%;
                padding: 1.5rem;
                font-size: calc((((100svw - 6.5rem)*0.45) - 3rem)*0.07);
            }

            .lock {
                flex: calc(60% - 3.25rem);
            }
        }
    }
}


@media screen and (max-width:516px) {
    form {
        margin: 0;
        margin-top: 1.5rem;

        label {
            margin-bottom: 0.75rem;

            span {
                font-size: 1.25rem;
            }

            input {
                font-size: 1rem;
            }
        }

        .submit {
            margin-top: 1.5rem;
        }
    }

    header {
        img {
            height: 1.25rem;
        }
    }

    main {
        padding: 1.75rem 1.25rem;

        .card {
            flex-wrap: wrap;
            padding: 1.25rem;
            border-radius: 2rem;
            margin: 3.56rem 0 1.25rem;
            gap: 1.25rem;

            .receipt {
                font-size: calc((100svw - 5rem)*0.06);
                padding: 1.25rem;

                img {
                    max-width: 13rem;
                }
            }

            .lock {

                h2 {
                    margin: 0;
                    font-size: calc((100svw - 5rem)*0.08);
                }
            }

            .confirm {
                margin-top: 1.5rem;

                h4 {
                    font-size: 1.25rem;
                }
            }

            .notice {
                padding-top: 1.25rem;
            }

            &.success {
                width: calc(100svw - 2.5rem);
                gap: 1.5rem;

                h2,
                h3 {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 1rem;
                    line-height: 160%;
                }
            }
        }
    }

    .popUp {
        .popUp--container {
            width: calc(100svw - 2.5rem);
            padding: 2rem 1.25rem 1.25rem;

            .popUp--close {
                top: 1.25rem;
                right: 1.25rem;
            }

            .popUp--content {
                margin-right: -1rem;
                padding-right: 1rem;
                max-height: calc(80svh - 7rem);

                p {
                    font-size: 1rem;
                }
            }

            h2 {
                margin: 0 0 1.25rem 0;
            }

            .popUp--submit {
                margin: 1.25rem 0 0 0;
                font-size: 1rem;
            }
        }

        &__button {
            .popUp--container {
                .popUp--content {
                    max-height: calc(80svh - 11.5rem);
                }
            }
        }
    }
}